
.main_banner_width{
  max-width: 1500px;
}

.main_banner_width .main-banner-content{
  max-width: 1500px;
}

.list{
  height: 100px !important;
}


.date_input{
  border-right: none !important;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}