<section class="app-download-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="app-download-image">
                    <img src="assets/img/mobile.png" alt="image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="app-download-content">
                    <h2>Unsere Firma</h2>
                    <p>Company ist ein junges Unternehmen, welches sich darauf spezialisiert, Ihnen in jeder Angelegenheit, preisgünstige Autos und Transporter zum Mieten, zu ermöglichen.</p>
                    <p>
                        Wir versprechen unseren Kunden, dass unser Team von Company, Ihnen den besten Service anbietet. Wir legen großen Wert auf Qualität und Freundlichkeit
                        Jeder kennt das, man zieht um oder man möchte sich etwas großes kaufen, doch meistens sind die Lieferkosten teuerer als das gekaufte Produkt und günstige Transporter zu finden, ist sehr unwahrscheinlich.
                        Das Team von Company hilft Ihnen zu erstaunlichen Preisen den Umzug durchzuführen!</p>
                </div>
            </div>
        </div>
    </div>
</section>